html, body {
    height: 100%;
}

#slider {
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 2%;*/
    padding: 5px;
    /*background: #e8e8e8;*/
    width: 500px;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: left;
}

#slider-container {
    width: 1000px;
    height: 100%;
}

#main {
    /*background: #e8e8e8;*/
    float: left;
    position: relative;
    overflow: hidden;
}

.block {
    display: inline-block;
    height: 100%;
    width: 500px;
    height: 100%;
    padding: 5px;
}

.panel-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}
