/*
 * Bootstrap
 */
@import "../bootstrap/less/bootstrap.less";

// Bootstrap variables override
@font-size-h1:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h2:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h3:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h4:            @font-size-base;
@font-size-h5:            ceil((@font-size-base * 0.85)); // ~12px
@font-size-h6:            ceil((@font-size-base * 0.7)); // ~10px

/*
 * FontAwesome
 */
@import "../fonts/font-awesome-4.0.3/less/font-awesome.less";

// variables override
@fa-font-path:        "../fonts/font-awesome-4.0.3/fonts";

// Fixes
[class*="fa-"] {.fa;}
a[class*="fa-"]:hover {text-decoration:none;}



/*
 * YNH Fonts
 */
@import "fonts.css";



/* Comments:
 *
 * 1. we need to rationalise the use of width and max widths. they seem to be
 * completely arbitrarily chosen. May not allow for a lot of flexibility…
 * especially on different screens size.
 *
 */

html, body {
    width:100%; 
}
html {
    /* Force vertical scrollbar to prevent centering jumps. */
    overflow-y: scroll;
}
body {
    max-width: @container-md;
    margin: auto;
    padding: 0 10px;
    @media (min-width: @screen-sm-min) {
        padding: 0 20px;
    }
}

.block {
    float:left;
    height: 100%;
    /*max-width: 750px;*/
    width: 50%;
    height: 100%;
    padding: 5px;
}

/* Fix bootstrap use of width. We prefer max-width. */
.container {
  @media (min-width: @screen-sm-min) {
    width: auto;
    max-width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: auto;
    max-width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: auto;
    max-width: @container-lg;
  }
}


.move {
    -webkit-transition: margin-left 0.4s ease-in-out;
    -moz-transition: margin-left 0.4s ease-in-out;
    -o-transition: margin-left 0.4s ease-in-out;
    -ms-transition: margin-left 0.4s ease-in-out;
    transition: margin-left 0.4s ease-in-out;
}

.placehold {
    font-size: 0.0001em;
    color: transparent;
}

/* 
 * The top heading of the doc
 *
 */

/*#masthead {
    .hidden-xs;
}*/
.page-header {
    .clearfix;
    .make-row(12);
    margin-top: 0;

    .app.title, .logout-button {
        margin-top: 20px;
    }

    .app.title {
        .make-xs-column(10);

        a {
            color: #444;
            text-decoration: none;
            position: relative;
            -webkit-transition: all 0.1s ease;
                    transition: all 0.1s ease;

            &:before {
                .fa;
                /*.fa-chevron-left;*/
                content: "\f053";
                display: block;
                height: 1em;
                width: 1em;
                position: absolute;
                top: 50%;
                margin-top: -0.4em;
                left: -10px;
                opacity: 0;
                font-size: 0.5em;
                line-height: 1;
                color: @gray-light;
                -webkit-transition: all 0.1s ease;
                        transition: all 0.1s ease;

            }
            &:hover {
                &:before {
                    opacity: 1;
                    left: -15px;
                }
            }
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
/*        .ynh {
            height: 1.2em;
            width: 1.4em;
            background: url(../img/logo-ynh.svg) 0 0 no-repeat;
            background-size: cover;
            text-indent: -9999px;
        }*/
        .desc {
            .small;
            color: @gray-light;
        }
    }

    .logout-button {
        .make-xs-column(2);
        .btn; 
        .btn-link;
        text-align: right;
        a.fa-sign-out {
            .fa-2x;
        }
    }
}

/* 
 * The “slider”
 *
 */

#slider {
    .center-block;
    padding: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: left;
}

#slider-container {
    /*[RFC] why the max-width? */
    /*max-width: 1500px;*/
    /*width: 1500px; */
    width: 100%;
    height: 100%;
}

#slideBack, #slideTo, #main {
    .block;
}

/* 
 * The main part of the app
 *
 */

#main {
    /*float: left;*/
    /*overflow: hidden;*/
    padding-left: 0;
    padding-right: 0;
}


/* 
 * The pop up dialog
 *
 */

#popup {
    .modal;
    .fade;
    overflow-y: auto;

    & > div {
        .modal-dialog;
        .modal-content;
    }

    #popup-title {
        .modal-header;
        .modal-title;
    }
    #popup-body {
        .modal-body;
    }
}

/* 
 * Various styles 
 *
 */

body .form-control {
    padding: 6px;
}

.view-title {
    text-align: center;
    margin: 20px auto 0;
    @media (min-width: @screen-xs-min) {
        margin: -35px 120px 0 120px;
    }
}

// Preserve font-size in panel titles.
h1.panel-title {font-size: @font-size-h1;}
h2.panel-title {font-size: @font-size-h2;}
h3.panel-title {font-size: @font-size-h3;}
h4.panel-title {font-size: @font-size-h4;}
h5.panel-title {font-size: @font-size-h5;}
h6.panel-title {font-size: @font-size-h6;}

div.br {
    height: 30px;
}

@-webkit-keyframes pacmanlinearmove {
    from { background-position: 30% 15%; }
    to { background-position: 70% 15%; }
}
@-moz-keyframes pacmanlinearmove {
    from { background-position: 30% 15%; }
    to { background-position: 70% 15%; }
}
@-o-keyframes pacmanlinearmove {
    from { background-position: 30% 15%; }
    to { background-position: 70% 15%; }
}
@keyframes pacmanlinearmove {
    from { background-position: 30% 15%; }
    to { background-position: 70% 15%; }
}
.loader {
    display: block;
    z-index: 2000;
    text-align: center;
    background: rgba(255, 255, 255, 0.5) url(../img/ajax-loader.gif) center 15% no-repeat;
    -webkit-animation: pacmanlinearmove 5s linear infinite;
       -moz-animation: pacmanlinearmove 5s linear infinite;
         -o-animation: pacmanlinearmove 5s linear infinite;
            animation: pacmanlinearmove 5s linear infinite;
}
.loader-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}
.loader-popup {
    margin: auto;
    height: 24px;
    width: 24px;
    background-position: center top;
}

.help-block {
    text-align: right;
}

th h3,
th h4 {
    margin-bottom: 5px;
    font-weight: bold;
}
th h4 {font-size: 16px;}
th h4 small {font-size: 12px;}


select option[default] {
    color: #999;
    font-style: italic;
}


.list-group-item .pull-right.fa-chevron-right {
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -0.5em;
}


.dl-horizontal {
    dt,
    dd {
        min-height: 1.5em;
    }
}