*.swp
*~

# Debian generated stuff
debian/*.log
debian/files
debian/yunohost-admin

# npm files
src/node_modules
src/npm-debug.log

# Symlink to ca.crt file
ca.crt

# Debug CSS file
src/css/style.css

src/bower_components
src/dist
