.env
*.swp
*~

# Debian generated stuff
debian/*.log
debian/files
debian/yunohost-admin*

# npm files
node_modules
npm-debug.log

dist

# old

# Symlink to ca.crt file
ca.crt

# Debug CSS file
src/css/style.css

src/dist
