<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yunohost.admin" version="2.0.0 beta" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>YunoHost</name>
    <description>
        YunoHost Administration
    </description>
    <author email="yunohost@yunohost.org" href="http://yunohost.org">
        YunoHost team
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    <icon src="icon.png" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="splash-screen-duration" value="2500"/>
    <access origin="*" />
</widget>
