/*

  ╭─────────────────────────────╮
  │ ┌─╮╭─╮╭─╮╶┬╴╭─╴╶┬╴┌─╮╭─┐┌─╮ │
  │ │╶┤│ ││ │ │ ╰─╮ │ ├┬╯├─┤├─╯ │
  │ └─╯╰─╯╰─╯ ╵ ╶─╯ ╵ ╵ ╰╵ ╵╵   │
  ╰─────────────────────────────╯

  Bootstrap and BootstrapVue overrides.
  Bootstrap default: `app/node_modules/bootstrap/scss/_variables.scss`
  BootstrapVue default: `app/node_modules/bootstrap-vue/src/_variables.scss`

*/

// TODO: add a feature so the user can set some css variables to change the global aspects ?
// For exemple, turning rounding of elements off, the bases colors, etc.
// $enable-rounded: false;

$alert-padding-x: 1rem;

$blue:   #2f7ed2;
$purple: #9932cc;
$yellow: #ffd452;

$theme-colors: (
  "best": $purple
);

@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins.scss';

// Overwrite list-group-item variants to lighter ones (used in diagnosis for example)
@each $color, $value in $theme-colors {
  @include list-group-item-variant($color, theme-color-level($color, -11), theme-color-level($color, 6));
}

/*

  ╭──────────────────────────────────────╮
  │ ┌─╴╭─╮┌─╮╷ ╭   ╭─┐╷╷╷┌─╴╭─╴╭─╮╭╮╮┌─╴ │
  │ ├─╴│ │├┬╯├┴╮╶─╴├─┤│││├─╴╰─╮│ ││││├─╴ │
  │ ╵  ╰─╯╵ ╰╵ ╵   ╵ ╵╰╯╯╰─╴╶─╯╰─╯╵╵╵╰─╴ │
  ╰──────────────────────────────────────╯

  Fork-awesome variable overrides.
  default: `app/node_modules/fork-awesome/scss/_variables.scss`

*/

$fa-font-path: '~fork-awesome/fonts';
$fa-font-size-base: 1rem;



$thin-border: 1px solid #eee;

$skeleton-color: #eaeaea;
