/*

  ╭─────────────────────────────╮
  │ ┌─╮╭─╮╭─╮╶┬╴╭─╴╶┬╴┌─╮╭─┐┌─╮ │
  │ │╶┤│ ││ │ │ ╰─╮ │ ├┬╯├─┤├─╯ │
  │ └─╯╰─╯╰─╯ ╵ ╶─╯ ╵ ╵ ╰╵ ╵╵   │
  ╰─────────────────────────────╯

  Bootstrap and BootstrapVue overrides.
  Bootstrap default: `app/node_modules/bootstrap/scss/_variables.scss`
  BootstrapVue default: `app/node_modules/bootstrap-vue/src/_variables.scss`

*/

// TODO: add a feature so the user can set some css variables to change the global aspects ?
// For exemple, turning rounding of elements off, the bases colors, etc.
// $enable-rounded: false;



/*

  ╭──────────────────────────────────────╮
  │ ┌─╴╭─╮┌─╮╷ ╭   ╭─┐╷╷╷┌─╴╭─╴╭─╮╭╮╮┌─╴ │
  │ ├─╴│ │├┬╯├┴╮╶─╴├─┤│││├─╴╰─╮│ ││││├─╴ │
  │ ╵  ╰─╯╵ ╰╵ ╵   ╵ ╵╰╯╯╰─╴╶─╯╰─╯╵╵╵╰─╴ │
  ╰──────────────────────────────────────╯

  Fork-awesome variable overrides.
  default: `app/node_modules/fork-awesome/scss/_variables.scss`

*/

$fa-font-path: '~fork-awesome/fonts';
$fa-font-size-base: 1rem;
