#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Get package version
# dpkg-parsechangelog > 1.17 could use dpkg-parsechangelog --show-field Version
DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')

# Define temporary debian directory
TMPDIR = $$(pwd)/debian/yunohost-admin

%:
	dh  $@

override_dh_auto_build:
	# Run npm install and build
	cd app ; npm --progress false --loglevel warn --color false install
	cd app ; npm run build

override_dh_clean:
	dh_clean
	rm -rf app/node_modules
	rm -rf app/dist
