/* Source Code Pro */

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-ExtraLight.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-ExtraLight.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-ExtraLight.otf') format('opentype'),
         url('@{font-path}SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-ExtraLightIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-ExtraLightIt.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-ExtraLightIt.otf') format('opentype'),
         url('@{font-path}SourceCodePro-ExtraLightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-Light.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-Light.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-Light.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-Light.otf') format('opentype'),
         url('@{font-path}SourceCodePro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-LightIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-LightIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-LightIt.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-LightIt.otf') format('opentype'),
         url('@{font-path}SourceCodePro-LightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-Regular.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-Regular.otf') format('opentype'),
         url('@{font-path}SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-It.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-It.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-It.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-It.otf') format('opentype'),
         url('@{font-path}SourceCodePro-It.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-Medium.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-Medium.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-Medium.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-Medium.otf') format('opentype'),
         url('@{font-path}SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-MediumIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-MediumIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-MediumIt.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-MediumIt.otf') format('opentype'),
         url('@{font-path}SourceCodePro-MediumIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-Semibold.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-Semibold.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-Semibold.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-Semibold.otf') format('opentype'),
         url('@{font-path}SourceCodePro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-SemiboldIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-SemiboldIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-SemiboldIt.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-SemiboldIt.otf') format('opentype'),
         url('@{font-path}SourceCodePro-SemiboldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-Bold.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-Bold.otf') format('opentype'),
         url('@{font-path}SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-BoldIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-BoldIt.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-BoldIt.otf') format('opentype'),
         url('@{font-path}SourceCodePro-BoldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-Black.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-Black.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-Black.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-Black.otf') format('opentype'),
         url('@{font-path}SourceCodePro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceCodePro-BlackIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceCodePro-BlackIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceCodePro-BlackIt.otf.woff') format('woff'),
         url('@{font-path}SourceCodePro-BlackIt.otf') format('opentype'),
         url('@{font-path}SourceCodePro-BlackIt.ttf') format('truetype');
}



@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-ExtraLight.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-ExtraLight.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-ExtraLight.otf') format('opentype'),
         url('@{font-path}SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-ExtraLightIt.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-ExtraLightIt.otf') format('opentype'),
         url('@{font-path}SourceSansPro-ExtraLightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-Light.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-Light.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-Light.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-Light.otf') format('opentype'),
         url('@{font-path}SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-LightIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-LightIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-LightIt.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-LightIt.otf') format('opentype'),
         url('@{font-path}SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-Regular.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-Regular.otf') format('opentype'),
         url('@{font-path}SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-It.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-It.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-It.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-It.otf') format('opentype'),
         url('@{font-path}SourceSansPro-It.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-Semibold.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-Semibold.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-Semibold.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-Semibold.otf') format('opentype'),
         url('@{font-path}SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-SemiboldIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-SemiboldIt.otf') format('opentype'),
         url('@{font-path}SourceSansPro-SemiboldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-Bold.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-Bold.otf') format('opentype'),
         url('@{font-path}SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-BoldIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-BoldIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-BoldIt.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-BoldIt.otf') format('opentype'),
         url('@{font-path}SourceSansPro-BoldIt.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-Black.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-Black.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-Black.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-Black.otf') format('opentype'),
         url('@{font-path}SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('@{font-path}SourceSansPro-BlackIt.eot') format('embedded-opentype'),
         url('@{font-path}SourceSansPro-BlackIt.ttf.woff2') format('woff2'),
         url('@{font-path}SourceSansPro-BlackIt.otf.woff') format('woff'),
         url('@{font-path}SourceSansPro-BlackIt.otf') format('opentype'),
         url('@{font-path}SourceSansPro-BlackIt.ttf') format('truetype');
}

